body {
    font: 20px, Arial, sans-serif;
}
.navbar {
    background-color: #A2D9CE;
}

.quem-somos {
    background-color: #D7BDE2;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #AED6F1;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;

}